[submodule "bendera/world"] 
  path = bendera/world 
 
[submodule "BENDERA"]
	path = BENDERA
	url = https://github.com/Wendo324/world
[submodule "core"]
	path = core
	url = https://github.com/Wendo324/world
