.icon-bar {
  width: 90px; /* Set a specific width */
  background-color: #555; /* Dark-grey background */
}

.icon-bar a {
  display: block; /* Make the links appear below each other instead of side-by-side */
  text-align: center; /* Center-align text */
  padding: 16px; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font-size */
}

.icon-bar a:hover {
  background-color: #000; /* Add a hover color */
}

.active {
  background-color: #04AA6D; /* Add an active/current color */
}
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
body{
  font-family: 'Amatic SC', cursive;
  font-size: 30px;

}
.center{
      text-align: center;
      padding-top: 70px;
      padding-bottom: 300px;
      position: relative;
}

button{
  background-color: rgb(255, 192, 57); 
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 30px;
}

.fruit {
  height: 40%;
  width: 40%;
  max-width: 500px;
}

legend{
  display:inline-block;
  align: center;
}

#choice-box{
  display: none;
}

#question-page{
  /*padding-left: 300px;
  padding-right: 300px;*/
  width: 700px;
  margin: 0 auto;
}

form {
      width: inherit;
}

.box-choice{
  display: inline-block;
}



/* tested for all media sizes; landscape + portrait mode as well*/
@media only screen and (min-width: 320px) and (max-width: 760px){
 #question-page{

  width: 300px;
  margin: 0 auto;

}

fieldset{
    text-align: left;
    width: fit-content;
    margin: 0 auto;
}
.box-choice{
  display: block;
}
}
